*{
    margin: 0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
}
ul li{
    display: inline-block;
}
ul a{
    text-decoration: none;
    color: white;

}
/* titulos */
h1{
    font-size: 6rem;
    text-align: center;
    text-decoration: underline;
    padding: 15px;
    color: #260000;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(121, 121, 1), 0 -10px 20px #824201, 0 -18px 40px rgb(121, 2, 2);
}

h2{
    font-size: 3rem;
    text-align: center;
    text-decoration: underline;
    padding: 5px;
    background-color: rgba(131, 37, 37, 0.338) ;
    
}
h3{
    font-size: 2rem;
    margin: 15px;
    padding: 15px;
}

/*imagenes*/
img{
   height: 20vh;
   border:rgb(96, 10, 10) 5px solid ;
}

body{
    font-family:"lobster two" ;
    background-color: #000000d2;
}

/*header general*/
.encabezado{
    color: rgb(255, 254, 254);
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    border: 5px solid white;
    padding: 10px;
    border: 5px solid rgb(96, 10, 10);
}

.encabezado__busqueda{
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
 .encabezado__navegacion{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
 }
.inputnav{
    height:40px ;
    width: 150px;
   
}
/*main general*/
.contenido{
    color: white;
    border: 5px solid rgb(96, 10, 10);
    padding: 10px;
}

/*contenido index*/
.fotos img{
    object-fit: cover;
}
.contenido__presentacion{
    height: 70vh;
}
.contenido__servicios{
    color:white;
    padding-top: 2px;  
    
}

/*footer*/
.piedepagina{
    color: white;
    border:5px solid rgb(96, 10, 10);
    padding: 50px;
    
}


/*pagina contacto*/
.contenido__formulario{
    background-color:#000000d2;
    background-size: cover;
    border: 5px solid rgb(96, 10, 10);
    padding: 75px;
    margin: 70px;
    color: white;
    text-align: center;
    text-decoration: underline;
    height: 400px;
}
.contenido__titulo{
    text-align: center;
}
/*pagina galeria*/
.tarjeta{
    background-color:#000000d2 ;
    border:rgb(96, 10, 10) 5px solid ;
    width: 250px;
    height: 250px;
}
.tarjeta__titulo{
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 2px;
    text-decoration: underline;
}
.tarjeta__imagen{
    width: 60%;
    height: 50%;
    margin-left: 19%;
    border-radius: 3%;  
}
.tarjeta__descripcion{
    text-align: center;
    font-size: 0.8rem;
    padding: 5px;
}
.tarjeta__boton{
color: white;
margin-left: 23%;
font-size:0.8rem;
background-color:rgb(96, 10, 10);
border:none;
}
.tarjetasdiv{
    justify-content: space-around;
    margin-top: 10px;
}
/*pagina productos*/
.producto{
    background-color:rgb(96, 10, 10);
    border:#000000d2 solid 5px;
    width: 250px;
    height: 250px;
    margin: 5px;
}
.producto__titulo{
    font-size: 1rem;
    color: white;
    text-align: center;
    padding: 2px;
    text-decoration: underline;
    
}
.producto__imagen{
    width: 60%;
    height: 50%;
    margin-left: 19%;
    border-color: #000000d2;
    border-radius: 10%;

}
.producto__descripcion{
    text-align: center;
    font-size: 0.8rem;
    padding: 5px;
}

.producto__boton{
    color: red;
    font-weight: bold;
    margin-left: 38%;
    padding: 6px;
    border: red;
    border-style:groove;
    border-radius: 10%;  
}
.tabla{
    background-color:rgb(96, 10, 10);
    border:#000000d2 solid 5px;
    color: white;
    display: inline-block;
   
}
.tabla__titulo{
    color: red;
    text-decoration: underline;
    font-weight: bold;
}
/*pagina sucursales*/
.sucursal{
    background-color: #000000d2;
    color: white;
}
.sucursal__nombre{
    text-decoration: underline;
    text-align: center;
}
.sucursal__mapa{
    border-radius: 30%;
    margin: 100px;;
    width: 300px;
    height: 300px;
}
.sucursal__imagen{
    border-radius: 30%;
    margin: 100px;
    width: 300px;
    height: 300px;

}
.sucursal__boton{
    margin: 100px;
    width: 100px;
    height: 100px;
    color: white;
    background-color:rgb(96, 10, 10);
    border-radius: 30%;
    font-weight: bold;
}

/*animaciones*/
@keyframes titulo{
    0%{
        text-shadow: none;
    }
    70%{
        text-shadow: none;
    }
}
.encabezado__titulo{
    animation-name: titulo;
    animation-duration: 4s;
    animation-timing-function: ease;
}
.contenido{  
    background: radial-gradient(rgb(96, 10, 10), #000000d2);
  }
.piedepagina{
    background:radial-gradient(rgb(96, 10, 10), #000000d2) ;
}
.encabezado__navegacion li:hover{
  background-color:rgb(96, 10, 10);
  font-size: 2rem;
  width: 120px;
  height: 60px;
  text-align: center;
  justify-content: center;
  transition-duration:4s ;
}
.encabezado__navegacion a:hover{
color: white;
}

.contenido img:hover{
  transform: scale(1.5);
  transition-duration: 3s;

}
.producto__boton{
  animation-name: botoncomprar;
  animation-duration: 3s;
  animation-iteration-count:3;
  animation-timing-function: ease;
}

@keyframes botoncomprar {
  0%{
     transform:scale(0.5);
  }
  50%{
      transform: scale(1);
      background-color:red;
      color:white
  }
  
  100%{
      transform: scale(0.5)
  }
  
  
}
 

.contenido__formulario{
  box-shadow: 40px 40px 20px rgba(155, 10, 10, 0.615) ;
}   

@keyframes botonsucursal {
  0%{
      transform: translateY(0)
  }
  100%{
      transform: translateY(300px);
  }
  
}
.sucursal__boton{
  animation-name: botonsucursal;
  animation-duration:4s;
  animation-direction:reverse;
}
/*responsive*/
@media (max-width:1000px){
    .contenido img:hover{
        transform: none;
    }
    .divencabezado{
        flex-direction: column;
    }
    .encabezado__navegacion{
        flex-direction: column;
    }
    .encabezado__busqueda{
        flex-direction: column;
    }
    .encabezado__titulo{
        font-size: 3rem;
    }
    .contenido__presentacion{
        height: 90vh;
    }
  }

@media (max-width:410px){
    .piedepagina__lista{
        flex-direction: column;
    }
}


i{
    color: blue;
}
