.contenido {
    &__presentacion {
        height: 180vh;

        article {
            margin-top: 80px;
        }

        p {
            padding: 60px;
        }
    }

    &__servicios {
        color: $color-primario;
        padding-top: 2px;
    }
}

.fotos {
    display: flex;
    justify-content: space-around;


    img {
        object-fit: cover;
        width: 200px;
        height: 200px;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media(min-width:682px) and (max-width:932px) {
    .contenido__presentacion {
        height: 200vh;
    }
}

@media (max-width:682px) {
    .contenido__presentacion {
        h2 {
            font-size: 2rem;

        }

        p {
            font-size: 1rem;
        }
    }
}

@media(min-width:406px) and (max-width:606px) {
    .contenido__presentacion {
        height: 300vh;
    }
}

@media (max-width:406px) {
    .contenido__presentacion {
        height: 400vh;
    }
}

@media (max-width:682px) {
    .contenido__servicios {
        h2 {
            font-size: 2rem;

        }

        h3 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1rem;
        }
    }
}