.contenido{
    &__presentacion{
        height: 80vh;
        article{
            margin-top: 80px;
        }}
    &__servicios{
        color: $color-primario;
        padding-top: 2px;
    }
}
.fotos img{
    object-fit: cover;
}

@media(max-width: 768px){
    .contenido__presentacion{
        height: 100vh;
        article{
            margin-top: 0px;
        }
    }
}