.encabezado {
    color: $color-primario;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px;
    border: 5px solid $color-bordes;

    &__titulo {
        font-size: 6rem;
        text-align: center;
        text-decoration: underline;
        padding: 15px;
        color: $color-bordes;
        text-shadow: 0 -1px 4px #FFF, 0 -2px 10px rgb(121, 121, 1), 0 -10px 20px #824201, 0 -18px 40px rgb(121, 2, 2);
    }

    &__navegacion {
        display: flex;
        justify-content: space-between;
        font-size: 2rem;
    }

    &__busqueda {
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }

    .inputnav {
        height: 40px;
        width: 150px;
        border-radius: 10%;
        border: solid 5px $color-bordes;
    }
}

@media (max-width:900px) {
    .encabezado {
        text-align: center;

        &__navegacion {
            flex-direction: column;
        }

        &__titulo {
            flex-direction: column;
            font-size: 3rem;
            padding: 0px;
        }
    }

}